---
layout: default
---
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Database Managament Systems</h1>
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <p>Course Coordinator:</p>
                    Prof. Mamatha Jadhav
                    <br />CSE Department
                    <br />MS Ramaiah Institute of Technology
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% include dbusescarousel.html %}
        </div>
        <div class="col-md-8 image-grid">
                <div class="row">
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/mssql.jpg" | prepend: site.baseurl }} />
                    </div>
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/sqlite.png" | prepend: site.baseurl }} />
                    </div>
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/db2.png" | prepend: site.baseurl }} />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/postgresql.png" | prepend: site.baseurl }} />
                    </div>
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/oracle.png" | prepend: site.baseurl }} />
                    </div>
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/sybase.jpeg" | prepend: site.baseurl }} />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/mongo.jpg" | prepend: site.baseurl }} />
                    </div>
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/mysql.png" | prepend: site.baseurl }} />
                    </div>
                    <div class="col-xs-4">
                        <img class="img-responsive" src={{ "/images/teradata.png" | prepend: site.baseurl }} />
                    </div>
                </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            {% include mongodbcourse.html %}
        </div>
        <div class="col-md-4">
            {% include logoscarousel.html %}
        </div>
    </div>
</div>
