---
layout: default
---
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Database Managament Systems</h1>
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <p>Delivered by:</p>
                    Prof. Mamatha Jadhav
                    <br />CSE Department
                    <br />MS Ramaiah Institute of Technology
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% include dbusescarousel.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% include mongodbcourse.html %}
        </div>
        <div class="col-md-4">
            {% include logoscarousel.html %}
        </div>
    </div>
</div>
