<div id="quotesCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#quotesCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#quotesCarousel" data-slide-to="1"></li>
    <li data-target="#quotesCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <span class="text-center-div">Store very large numbers of records efficiently</span>
    </div>
    <div class="item">
        <span class="text-center-div">Quickly and easily find information</span>
    </div>
    <div class="item">
        <span class="text-center-div">Easily add new data and to edit or delete old data</span>
    </div>
    <div class="item">
        <span class="text-center-div">Reduced data redundancy.</span>
    </div>
    <div class="item">
        <span class="text-center-div">Reduced updating errors and increased consistency.</span>
    </div>
    <div class="item">
        <span class="text-center-div">Greater data integrity and independence from applications programs.</span>
    </div>
  </div>
  <a class="left carousel-control" href="#quotesCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#quotesCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
