
<h1 class="text-center">Database Management Systems</h1>
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="site-title" href="{{ site.baseurl }}/">Home</a>
            </li>
            <li>
                <a class="site-title" href="{{ "/syllabus.pdf" | prepend: site.baseurl }}/">Syllabus</a>
            </li>
            <li>
                <a class="site-title" href="{{ "/announcements/" | prepend: site.baseurl }}">Annoucements</a>
            </li>
            <li>
                <a class="site-title" href="{{ "/studymaterial/" | prepend: site.baseurl }}">Study Material</a>
            </li>
            <li>
                <a class="site-title" href="{{ "/labmaterial/" | prepend: site.baseurl }}">Lab Material</a>
            </li>
        </ul>
    </div>
</nav>
