<header>
        <h1 class="text-center">Database Management Systems</h1>
        <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="site-title" href="{{ site.baseurl }}/">Home</a>
                    </li>
                    <li>
                        <a class="site-title" href="{{ site.baseurl }}/">Syllabus</a>
                    </li>
                    <li>
                        <a class="site-title" href="{{ site.baseurl }}/">Annoucements</a>
                    </li>
                </ul>
        </nav>
</header?
