<img class="img-responsive" style="height: 100px; margin-left: auto; margin-right: auto;" src="{{ "/images/mongo.jpg" | prepend: site.baseurl }}" />
<h4 style="text-align: center">Introduction to NoSQL database MongoDB</h4>
<p>A 3 week long lab course on the most popular NoSQL database MongoDB, covering basic CRUD(Create, Retreive, Update, Delete) operations and intermediate-level operations like aggregation, replica sets, map-reduce, sorting etc.</p>
<p style="text-align: right">Instructors: Anirudh Singh Shekhawat and Vikram S</p>
